.base-layout {
  width: 100%;
  height: calc(100vh - 60px);
  
  &__content {
    width: 100%;
    padding: 1rem;

    h1 {
      margin-bottom: 1rem;
    }

    &--modified-padding {
      padding: 0;

      @media(min-width: 1024px) {
        padding: 0 0 0 calc(60px);
      }
    }
  }

  &--center-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}