.base-layout {
  width: 100%;
  height: calc(100vh - 60px);
  
  &__content {
    width: 100%;
    padding: 0 1rem;

    &--left-padding {
      @media(min-width: 1024px) {
        padding-left: calc(60px + 1rem);
      }
    }
  }

  &--center-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}